SERVER_ADDRESS=http://127.0.0.1:8001
NEXT_PUBLIC_IP_ADDRESS=http://localhost:3000

# SNS Auth
NEXT_PUBLIC_GOOGLE_CLIENT_SECRET=
NEXT_PUBLIC_GOOGLE_CLIENT_ID=
NEXT_PUBLIC_GOOGLE_REDIRECT_URL=

# AWS config
NEXT_PUBLIC_AWS_REGION=
NEXT_PUBLIC_AWS_S3_ORIGINALS_BUCKET=
NEXT_PUBLIC_AWS_S3_ASSETS_BUCKET=