services:
  client:
    build:
      context: ./client
      args:
        TARGET_ENV: ${TARGET_ENV}
    container_name: snaphaven-client-${TARGET_ENV}
    ports:
      - "3000:3000"
    env_file:
      - ./client/.env.${TARGET_ENV}
    restart: always

  server:
    build:
      context: ./server
    container_name: snaphaven-server-${TARGET_ENV}
    ports:
      - "8001:8001"
    env_file:
      - ./server/.env.${TARGET_ENV}
    restart: always
