services:
  redis:
    image: redis:7-alpine
    container_name: snaphaven-redis-${TARGET_ENV}
    ports:
      - "6379:6379"
    restart: always
    volumes:
      - ./redis-data:/data
    networks:
      - snaphaven-network

  server:
    build:
      context: ./server
      args:
        - TARGET_ENV=${TARGET_ENV}
    container_name: snaphaven-server-${TARGET_ENV}
    ports:
      - "8001:8001"
    env_file:
      - ./server/.env.${TARGET_ENV}
    depends_on:
      - redis
      - db
    restart: always
    networks:
      - snaphaven-network
    volumes:
      - ./server/uploads:/app/uploads # 서버가 저장하는 경로

  client:
    build:
      context: ./client
      args:
        - TARGET_ENV=${TARGET_ENV}
    container_name: snaphaven-client-${TARGET_ENV}
    ports:
      - "3000:3000"
    env_file:
      - ./client/.env.${TARGET_ENV}
    environment:
      - SERVER_ADDRESS=http://server:8001
    restart: always
    networks:
      - snaphaven-network

  db:
    image: mysql:8.0
    container_name: snaphaven-db-${TARGET_ENV}
    restart: always
    env_file:
      - ./server/.env.${TARGET_ENV}
    environment:
      MYSQL_DATABASE: snaphaven_${TARGET_ENV}
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
      MYSQL_USER: ${DB_USERNAME}
      MYSQL_PASSWORD: ${DB_PASSWORD}
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - snaphaven-network
    healthcheck:
      test:
        ["CMD", "mysqladmin", "ping", "-h", "localhost", "-u", "${DB_USERNAME}", "-p${DB_PASSWORD}"]
      interval: 5s
      timeout: 5s
      retries: 5

  nginx:
    image: nginx:alpine
    container_name: snaphaven-nginx-${TARGET_ENV}
    ports:
      - "0.0.0.0:80:80"
      - "0.0.0.0:443:443"
    volumes:
      - ./nginx/dev.conf:/etc/nginx/nginx.conf:ro
      - ./nginx/ssl:/etc/nginx/ssl:ro
      - ./server/uploads:/var/www/uploads # Nginx가 읽을 경로
    extra_hosts:
      - "host.docker.internal:host-gateway"
    depends_on:
      - client
      - server
    networks:
      - snaphaven-network

networks:
  snaphaven-network:
    name: snaphaven-network

volumes:
  db_data:
